name: Despliegue de Frontend a Azure

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install --legacy-peer-deps
        working-directory: ./frontend

      - name: Disable CI strict mode
        run: echo "CI=false" >> $GITHUB_ENV

      - name: Build project
        run: npm run build
        working-directory: ./frontend

      - name: Upload build folder
        uses: azure/webapps-deploy@v2
        with:
          app-name: "sichf"
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE_FRONT }}
          package: "./frontend/build"
